openapi: 3.0.1
info:
  title: Sistema de Reserva de Salas API
  description: API para gerir reservas de salas de reunião, incluindo autenticação, criação, consulta, edição e cancelamento de reservas.
  version: 1.2.0
  contact:
    name: Suporte API
    email: suporte@empresa.fixe.com

servers:
- url: https://sim.com
  description: Servidor de Produção
- url: https://sim-staging.com
  description: Servidor de Staging

tags:
- name: Autenticação
  description: Endpoints relacionados com a autenticação e gestão de utilizadores
- name: Reservas
  description: Endpoints para criação, consulta, edição e cancelamento de reservas
- name: Gestão de Salas
  description: Endpoints para a administração das salas

paths:
  /auth/register:
    post:
      tags: [ Autenticação ]
      summary: Registar um novo utilizador
      operationId: registerUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRegistration'
      responses:
        '201':
          description: Utilizador criado com sucesso
        '400':
          description: Erro na requisição
        '409':
          description: Utilizador já existe

  /auth/login:
    post:
      tags: [ Autenticação ]
      summary: Login de utilizador
      operationId: loginUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserLogin'
      responses:
        '200':
          description: Login bem-sucedido
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        '403':
          description: Acesso negado por credenciais inválidas

  /auth/stats:
    get:
      tags: [ Autenticação ]
      summary: Obter estatísticas do utilizador
      security: [ { BearerAuth: [] } ]
      operationId: getUserStats
      responses:
        '200':
          description: Estatísticas do utilizador
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserStats'

  /auth/recover-password:
    post:
      tags: [ Autenticação ]
      summary: Recuperação de password
      operationId: recoverPassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: Email de recuperação enviado
        '404':
          description: Utilizador não encontrado

  /rooms:
    get:
      tags: [ Gestão de Salas ]
      summary: Listar todas as salas
      security: [ { BearerAuth: [] } ]
      operationId: listRooms
      responses:
        '200':
          description: Lista de salas disponíveis
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RoomManagement'

    post:
      tags: [ Gestão de Salas ]
      summary: Criar uma nova sala
      security: [ { BearerAuth: [] } ]
      operationId: createRoom
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoomManagement'
      responses:
        '201':
          description: Sala criada com sucesso
        '409':
          description: Sala já existe

  /reservations:
    post:
      tags: [ Reservas ]
      summary: Criar uma reserva
      security: [ { BearerAuth: [] } ]
      operationId: createReservation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReservation'
      responses:
        '201':
          description: Reserva criada com sucesso
        '400':
          description: Dados inválidos
        '409':
          description: Conflito de horário

components:
  schemas:
    UserRegistration:
      type: object
      properties:
        username:
          type: string
          minLength: 3
          maxLength: 20
        password:
          type: string
          minLength: 8
        email:
          type: string
          format: email
      required: [ username, password, email ]

    UserLogin:
      type: object
      properties:
        username:
          type: string
        password:
          type: string
      required: [ username, password ]

    UserStats:
      type: object
      properties:
        totalReservations:
          type: integer
          example: 12
        upcomingReservations:
          type: integer
          example: 3
        totalHoursBooked:
          type: number
          example: 45.5

    RoomManagement:
      type: object
      properties:
        roomName:
          type: string
        capacity:
          type: integer
        equipment:
          type: array
          items:
            type: string
      required: [ roomName, capacity ]

    CreateReservation:
      type: object
      properties:
        roomId:
          type: string
        userId:
          type: string
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
        description:
          type: string
      required: [ roomId, userId, startTime, endTime ]

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
